body 
{
  background-color: #F6CF57;
  text-align: center;
  font-family: Verdana, sans-serif;
}

.card
{
  margin:50px auto;
  height: 500px;
  width: 350px;
  background: rgb(255,166,0);
  background: linear-gradient(0deg, rgba(255,166,0,1) 0%, rgba(255,255,255,1) 100%);
  border: 10px solid yellow;
  border-radius: 10px;
}

.img-pokemon
{
  max-width: 300px;
  border: 4px inset #daa520;
}

.titulo-card
{
  font-weight: bold;
  text-align: left;
  font-size: 14pt;
  padding-left: 10px;
}

.hp
{
  text-align: right;
  font-size: 14pt;
  padding-right: 10px;
  color: red;
  width: 100px;
}

.dados
{
  font-size: 8pt;
  padding: 2px;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(218,165,32,1) 100%);
}

.texto-card
{
  text-align: left;
  font-size: 10pt;
  padding-left: 10px;
  padding-right: 10px;
}
.destaque
{
  font-weight: bold;
  text-align: left;
  font-size: 12pt;
  color:#c8a2c8;
}