body 
{
  background-color: #F6CF57;
  text-align: center;
}

.card
{
  margin:50px auto;
  height: 500px;
  width: 350px;
  background: rgb(255,166,0);
  background: linear-gradient(0deg, rgba(255,166,0,1) 0%, rgba(255,255,255,1) 100%);
  border: 10px solid yellow;
  border-radius: 10px;
}